<div id="demo_container">
  List of Includes Demos:

  <div style="text-align: left;">
    <a href="<%= just_articles_no_includes_path() %>">
      <p>Authors and Articles Only Without Includes</p>
    </a>
    <a href="<%= just_articles_full_includes_path() %>">
      <p>Authors and Articles Only With Includes</p>
    </a>
    <br>
    <a href="<%= all_no_includes_path() %>">
      <p>All Records Without Includes</p>
    </a>
    <a href="<%= all_full_includes_path() %>">
      <p>All Records With Includes</p>
    </a>
    <br>
    <a href="<%= single_author_no_includes_path() %>">
      <p>Single Author Without Includes</p>
    </a>
    <a href="<%= single_author_full_includes_path() %>">
      <p>Single Author With Includes</p>
    </a>
    <br>
    <a href="<%= all_with_scope_path() %>">
      <p>All Records With Includes And Scope</p>
    </a>
      <a href="<%= all_with_association_path() %>">
      <p>All Records With Includes And Has Many Association</p>
    </a>
    <a href="<%= all_with_select_path() %>">
      <p>All Records With Includes And Select</p>
    </a>
  </div>
</div>